node-red-flow 
[{"id":"2c6fe810.d02738","type":"change","z":"f91edd55.bee28","name":"Percent","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":100,"wires":[["bb8ad396.475828"]]},{"id":"16862246.df796e","type":"change","z":"f91edd55.bee28","name":"Battery Total Voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Battery Total Voltage\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":180,"wires":[["578e224e.7298ac"]]},{"id":"5771bf5.2f5ad4","type":"change","z":"f91edd55.bee28","name":"Time & Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Time & Date\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["980be534.f61ad"]]},{"id":"3b758cf7.d109a4","type":"change","z":"f91edd55.bee28","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["8455d348.83d2d"]]},{"id":"ae18f6ea.038108","type":"change","z":"f91edd55.bee28","name":"Motor Total Voltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Motor Total Voltage\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":400,"wires":[["5f9d844d.d9d20c"]]},{"id":"6758c0e4.5147f","type":"change","z":"f91edd55.bee28","name":"Distance","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["2da8ae85.80d19a"]]},{"id":"bb8ad396.475828","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":100,"wires":[[]]},{"id":"578e224e.7298ac","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload / 100 };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["a414bc35.1fa6b"]]},{"id":"980be534.f61ad","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":260,"wires":[["568df729.5e3c68"]]},{"id":"8455d348.83d2d","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["31f52b66.2651fc","258f295a.a8ce66"]]},{"id":"5f9d844d.d9d20c","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (parseFloat(msg.payload)/1000).toString() };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":400,"wires":[["e8cf9142.b65af8"]]},{"id":"2da8ae85.80d19a","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":500,"wires":[["a4b6a6a0.6ee77"]]},{"id":"a414bc35.1fa6b","type":"ui_text","z":"f91edd55.bee28","group":"132e11cd.d1ca56","order":1,"width":0,"height":0,"name":"","label":"Battery Total Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1150,"y":180,"wires":[]},{"id":"31f52b66.2651fc","type":"ui_text","z":"f91edd55.bee28","group":"132e11cd.d1ca56","order":3,"width":0,"height":0,"name":"","label":"Speed","format":"{{msg.payload}} km/h","layout":"row-spread","x":1110,"y":320,"wires":[]},{"id":"e8cf9142.b65af8","type":"ui_text","z":"f91edd55.bee28","group":"132e11cd.d1ca56","order":4,"width":0,"height":0,"name":"","label":"Motor Total Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1150,"y":400,"wires":[]},{"id":"a4b6a6a0.6ee77","type":"ui_text","z":"f91edd55.bee28","group":"132e11cd.d1ca56","order":5,"width":0,"height":0,"name":"","label":"Distance ","format":"{{msg.payload}} m","layout":"row-spread","x":1120,"y":500,"wires":[]},{"id":"1966e85c.dd0d28","type":"inject","z":"f91edd55.bee28","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["bfd596ff.e08e8"]]},{"id":"f1738319.5a62f","type":"exec","z":"f91edd55.bee28","command":"python /home/pi/gatt/gatt.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":380,"wires":[["e4556e55.5212"],["bfd596ff.e08e8","e6276de7.517238"],["a4042a6c.310e9"]]},{"id":"d9798fb0.27ede","type":"file","z":"f91edd55.bee28","name":"","filename":"/home/pi/gatt/data2.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":530,"y":340,"wires":[["b7e16287.4d27"]]},{"id":"b7e16287.4d27","type":"function","z":"f91edd55.bee28","name":"parse","func":"\n\nvar newMsg = { payload: JSON.parse(msg.payload) };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["ab033f97.d875","9c8e3e95.ebae9","f2d74c6c.40ab6","ae18f6ea.038108","3b758cf7.d109a4","5771bf5.2f5ad4","16862246.df796e","2c6fe810.d02738","73aadc3a.e2ef4c","2e218dd.6dc8ff2","6758c0e4.5147f","29da7c95.f34a1c","b02af31b.aae7e8","5a2c072a.ec6878","45cd01bd.cc1c7","ba6e56e1.2c0a7","dcc7b766.7c325","bcb52d3a.15c22","39e63158.b4c1e6"]]},{"id":"e4556e55.5212","type":"json","z":"f91edd55.bee28","name":"","property":"payload","action":"str","pretty":false,"x":430,"y":260,"wires":[["d9798fb0.27ede","1ccec481.ca2973"]]},{"id":"bfd596ff.e08e8","type":"exec","z":"f91edd55.bee28","command":"rm /home/pi/gatt/data2.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":160,"wires":[["f1738319.5a62f"],[],[]]},{"id":"ab033f97.d875","type":"change","z":"f91edd55.bee28","name":"Lockstate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Lockstate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":580,"wires":[["861d06fe.2842b8"]]},{"id":"861d06fe.2842b8","type":"function","z":"f91edd55.bee28","name":"format","func":"\nif(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":580,"wires":[["1e1a4bc8.741434","f207f8dc.7b108"]]},{"id":"7cd03a03.0019ec","type":"ui_switch","z":"f91edd55.bee28","name":"","label":"Lock Control","tooltip":"","group":"33be24a4.d94bd4","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1530,"y":240,"wires":[["86deb844.885bc8"]]},{"id":"9c8e3e95.ebae9","type":"change","z":"f91edd55.bee28","name":"Time & Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Time & Date(ILockit)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["175c9170.de78ff"]]},{"id":"f2d74c6c.40ab6","type":"change","z":"f91edd55.bee28","name":"Sessiontime","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Sessiontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":740,"wires":[["f0348d41.f86ef"]]},{"id":"175c9170.de78ff","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":660,"wires":[[]]},{"id":"f0348d41.f86ef","type":"function","z":"f91edd55.bee28","name":"fornat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":740,"wires":[["5cd4df03.ca3c3"]]},{"id":"5cd4df03.ca3c3","type":"ui_text","z":"f91edd55.bee28","group":"33be24a4.d94bd4","order":7,"width":0,"height":0,"name":"","label":"Sessiontime","format":"{{msg.payload}} min","layout":"row-spread","x":1130,"y":740,"wires":[]},{"id":"76387c22.e791cc","type":"exec","z":"f91edd55.bee28","command":"python /home/pi/gatt/gatt2.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":true,"name":"","x":1510,"y":400,"wires":[["afc45013.f5222"],["7cd03a03.0019ec","566fec6b.af1a7c"],["566fec6b.af1a7c"]]},{"id":"86deb844.885bc8","type":"function","z":"f91edd55.bee28","name":"change","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: parseInt(msg.payload) };\nif(newMsg.payload === 1){\n    var state = 41;\nvar newMsg2 = { payload: state.toString()};\n}else if( newMsg.payload === 0){\n    var state = 40;\n   var newMsg2 = { payload: state.toString()};\n    \n}\nreturn newMsg2;\n\n}","outputs":1,"noerr":0,"x":1360,"y":300,"wires":[["76387c22.e791cc"]]},{"id":"3c6eecb0.b17994","type":"ui_text","z":"f91edd55.bee28","group":"33be24a4.d94bd4","order":6,"width":0,"height":0,"name":"","label":"LockState","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":580,"wires":[]},{"id":"1e1a4bc8.741434","type":"function","z":"f91edd55.bee28","name":"Check","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: parseInt(msg.payload) };\nif(newMsg.payload === 0){\n    var state = \"opened\";\nvar newMsg2 = { payload: state};\n}else if( newMsg.payload === 1){\n    var state = \"closed\";\n   var newMsg2 = { payload: state};\n    \n}\nreturn newMsg2;\n\n}","outputs":1,"noerr":0,"x":1110,"y":580,"wires":[["3c6eecb0.b17994"]]},{"id":"865674be.5e2d68","type":"ui_text","z":"f91edd55.bee28","group":"38bdf165.b210e6","order":1,"width":"0","height":"0","name":"","label":"Beats","format":"{{msg.payload}} bpm","layout":"row-spread","x":1110,"y":820,"wires":[]},{"id":"73aadc3a.e2ef4c","type":"change","z":"f91edd55.bee28","name":"Beats","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Beats","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":820,"wires":[["26163c5e.d36134"]]},{"id":"26163c5e.d36134","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload };\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":820,"wires":[["865674be.5e2d68"]]},{"id":"2e218dd.6dc8ff2","type":"change","z":"f91edd55.bee28","name":"Time & Date ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Time & Date(Heart)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":920,"wires":[["ca97a5f0.e6c39"]]},{"id":"ca97a5f0.e6c39","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":920,"wires":[["384f56a7.35bd4a"]]},{"id":"384f56a7.35bd4a","type":"ui_text","z":"f91edd55.bee28","group":"38bdf165.b210e6","order":2,"width":0,"height":0,"name":"","label":"Last  Refresh (Beats)","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":920,"wires":[]},{"id":"73e2017d.c52818","type":"ui_text","z":"f91edd55.bee28","group":"528d135a.1fba44","order":6,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":980,"wires":[]},{"id":"322f7f7f.161b68","type":"ui_text","z":"f91edd55.bee28","group":"528d135a.1fba44","order":7,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":1040,"wires":[]},{"id":"f5238fb1.b90dd","type":"ui_text","z":"f91edd55.bee28","group":"528d135a.1fba44","order":8,"width":0,"height":0,"name":"","label":"Elevation","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":1100,"wires":[]},{"id":"4c75e2c9.f691bc","type":"ui_text","z":"f91edd55.bee28","group":"528d135a.1fba44","order":9,"width":0,"height":0,"name":"","label":"Last Refresh","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1140,"wires":[]},{"id":"78b3edb5.603584","type":"function","z":"f91edd55.bee28","name":"format","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":980,"wires":[["73e2017d.c52818"]]},{"id":"9631040e.ef612","type":"function","z":"f91edd55.bee28","name":"format","func":"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1040,"wires":[["322f7f7f.161b68"]]},{"id":"71247780.0a12c8","type":"function","z":"f91edd55.bee28","name":"format","func":"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1100,"wires":[["f5238fb1.b90dd"]]},{"id":"f57bfea7.0a38c8","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":1140,"wires":[["4c75e2c9.f691bc"]]},{"id":"17e1ec8a.feaf7b","type":"ui_text","z":"f91edd55.bee28","group":"38bdf165.b210e6","order":4,"width":0,"height":0,"name":"","label":"Crash detection","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1220,"wires":[]},{"id":"daf24fca.cd8078","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: parseInt(msg.payload) };\nif(newMsg.payload === 1){\n    var state = \"Crash detected\";\nvar newMsg2 = { payload: state};\n}else if( newMsg.payload === 0){\n    var state = \"no Crash\";\n   var newMsg2 = { payload: state};\n    \n}\nreturn newMsg2;\n\n}","outputs":1,"noerr":0,"x":970,"y":1220,"wires":[["17e1ec8a.feaf7b"]]},{"id":"1c8825dd.c2303a","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":1280,"wires":[["db996bfa.7f1d5"]]},{"id":"db996bfa.7f1d5","type":"ui_text","z":"f91edd55.bee28","group":"ff0aa311.9d11a8","order":1,"width":0,"height":0,"name":"","label":"Last Lora Package","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1280,"wires":[]},{"id":"a4042a6c.310e9","type":"function","z":"f91edd55.bee28","name":"format","func":"\nif(msg.payload !== undefined){\n\nvar newMsg = { payload: msg.payload.code};\n\nif (newMsg.payload === 0 ){\n    newMsg = { payload: \"Ok\"};\n}else {\n    newMsg = { payload: \"Error in the Processe Please Click on the Refresh Button\"};\n}\nreturn newMsg;\n}\n","outputs":1,"noerr":0,"x":970,"y":1380,"wires":[["2d55fd8c.a50d52"]]},{"id":"2d55fd8c.a50d52","type":"ui_text","z":"f91edd55.bee28","group":"8c17b307.2f44c8","order":1,"width":0,"height":0,"name":"","label":"Bluetooth Processe","format":"{{msg.payload}}","layout":"col-center","x":1140,"y":1380,"wires":[]},{"id":"61a6aadf.022854","type":"ui_text","z":"f91edd55.bee28","group":"ff0aa311.9d11a8","order":2,"width":0,"height":0,"name":"","label":"Esp32 Current Time: ","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":1320,"wires":[]},{"id":"31571e6b.3f838a","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":970,"y":1320,"wires":[["61a6aadf.022854"]]},{"id":"c7286ab.2397998","type":"ui_text","z":"f91edd55.bee28","group":"38bdf165.b210e6","order":3,"width":0,"height":0,"name":"","label":"Time of the Crash","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":1560,"wires":[]},{"id":"11a8fbb3.e5c664","type":"function","z":"f91edd55.bee28","name":"format","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: (new Date(parseInt(msg.payload)*1000)).toLocaleString()};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":950,"y":1560,"wires":[["c7286ab.2397998"]]},{"id":"29da7c95.f34a1c","type":"change","z":"f91edd55.bee28","name":"Time & Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Time & Date (MPU)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1560,"wires":[["11a8fbb3.e5c664"]]},{"id":"b02af31b.aae7e8","type":"change","z":"f91edd55.bee28","name":"Crash","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Crash","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1220,"wires":[["daf24fca.cd8078"]]},{"id":"5a2c072a.ec6878","type":"change","z":"f91edd55.bee28","name":"Latitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Latitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":980,"wires":[["78b3edb5.603584"]]},{"id":"45cd01bd.cc1c7","type":"change","z":"f91edd55.bee28","name":"Longitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["9631040e.ef612"]]},{"id":"ba6e56e1.2c0a7","type":"change","z":"f91edd55.bee28","name":"Elevation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Elevation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["71247780.0a12c8"]]},{"id":"dcc7b766.7c325","type":"change","z":"f91edd55.bee28","name":"Time & Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Time & Date(Location)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1140,"wires":[["f57bfea7.0a38c8"]]},{"id":"bcb52d3a.15c22","type":"change","z":"f91edd55.bee28","name":"Loras info","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Lora Info\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1280,"wires":[["1c8825dd.c2303a"]]},{"id":"39e63158.b4c1e6","type":"change","z":"f91edd55.bee28","name":"Esp32 time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"ESP32 Current Time\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1320,"wires":[["31571e6b.3f838a"]]},{"id":"568df729.5e3c68","type":"ui_text","z":"f91edd55.bee28","group":"132e11cd.d1ca56","order":2,"width":0,"height":0,"name":"","label":"Last Refresh","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":260,"wires":[]},{"id":"8e04e98c.3e36c","type":"function","z":"f91edd55.bee28","name":"","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: ((new Date(msg.payload.datetime)).toUTCString())};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":1460,"y":1460,"wires":[["f73a9ca8.ea889"]]},{"id":"f73a9ca8.ea889","type":"function","z":"f91edd55.bee28","name":"","func":"const changeEndianness = (string) => {\n        const result = [];\n        let len = string.length - 2;\n        while (len >= 0) {\n          result.push(string.substr(len, 2));\n          len -= 2;\n        }\n        return result.join('');\n}\nif(msg.payload !== undefined){\n    \n\nvar newMsg = { payload: changeEndianness (((parseInt((new Date(msg.payload)).getTime())/1000)).toString(16))};\n\n\nreturn newMsg;\n}","outputs":1,"noerr":0,"x":1500,"y":1540,"wires":[["da60b423.0b6448","6f49c5f9.6bee3c"]]},{"id":"da60b423.0b6448","type":"exec","z":"f91edd55.bee28","command":"python /home/pi/gatt/gatt3.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1520,"y":1760,"wires":[["6f49c5f9.6bee3c","b0182579.b7a36"],["6f49c5f9.6bee3c"],[]]},{"id":"c15f5536.799628","type":"ui_button","z":"f91edd55.bee28","name":"","group":"7efb753.473030c","order":4,"width":0,"height":0,"passthru":false,"label":"Reboot the System","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":470,"y":1920,"wires":[["740715fb.c1ede4"]]},{"id":"65274c19.4f4f1c","type":"debug","z":"f91edd55.bee28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":2140,"wires":[]},{"id":"740715fb.c1ede4","type":"exec","z":"f91edd55.bee28","command":"sh /home/pi/gatt/config1.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":1960,"wires":[["65274c19.4f4f1c"],[],[]]},{"id":"6f49c5f9.6bee3c","type":"debug","z":"f91edd55.bee28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1900,"y":1600,"wires":[]},{"id":"afc45013.f5222","type":"delay","z":"f91edd55.bee28","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":540,"wires":[["bfd596ff.e08e8"]]},{"id":"ffb12af0.690f98","type":"ui_button","z":"f91edd55.bee28","name":"","group":"8c17b307.2f44c8","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":700,"wires":[["f1738319.5a62f"]]},{"id":"f207f8dc.7b108","type":"function","z":"f91edd55.bee28","name":"Change","func":"if(msg.payload !== undefined){\n\nvar newMsg = { payload: parseInt(msg.payload) };\nif(newMsg.payload === 0){\n    var state = 0;\nvar newMsg2 = { payload: state};\n}else if( newMsg.payload === 1){\n    var state = 1;\n   var newMsg2 = { payload: state};\n    \n}\nreturn newMsg;\n\n}","outputs":1,"noerr":0,"x":1120,"y":540,"wires":[["7cd03a03.0019ec"]]},{"id":"1ccec481.ca2973","type":"file","z":"f91edd55.bee28","name":"","filename":"/home/pi/gatt/data3.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":750,"y":40,"wires":[[]]},{"id":"b0182579.b7a36","type":"delay","z":"f91edd55.bee28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":1840,"wires":[["f1738319.5a62f"]]},{"id":"40b7891b.bce94","type":"ui_text","z":"f91edd55.bee28","group":"7efb753.473030c","order":1,"width":0,"height":0,"name":"","label":"Ip address","format":"{{msg.payload}}","layout":"row-spread","x":1690,"y":560,"wires":[]},{"id":"a3a86d46.d00138","type":"change","z":"f91edd55.bee28","name":"ip","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["40b7891b.bce94"]]},{"id":"26ad2f96.e142c8","type":"hostip","z":"f91edd55.bee28","name":"Host IP","x":1340,"y":640,"wires":[["a3a86d46.d00138"]]},{"id":"3349be86.482392","type":"ui_button","z":"f91edd55.bee28","name":"","group":"7efb753.473030c","order":2,"width":0,"height":0,"passthru":false,"label":"Get Ip Addr","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1130,"y":660,"wires":[["26ad2f96.e142c8"]]},{"id":"86a0cc84.52abe","type":"exec","z":"f91edd55.bee28","command":"sudo cat /etc/wpa_supplicant/wpa_supplicant.conf ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":1620,"wires":[["cc5e4d0d.bbad58","f76781c7.d01eb8"],["cc5e4d0d.bbad58"],[]]},{"id":"6289e967.b14258","type":"ui_button","z":"f91edd55.bee28","name":"","group":"646fc13c.26e5e","order":2,"width":0,"height":0,"passthru":false,"label":"Get Interface","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":1520,"wires":[["86a0cc84.52abe"]]},{"id":"cc5e4d0d.bbad58","type":"debug","z":"f91edd55.bee28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1700,"wires":[]},{"id":"f76781c7.d01eb8","type":"ui_template","z":"f91edd55.bee28","group":"646fc13c.26e5e","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height: 200px;\"></div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1060,"y":1700,"wires":[[]]},{"id":"a2504b6b.5842f8","type":"ui_form","z":"f91edd55.bee28","name":"","label":"Example:  2019-03-21 13:00","group":"ff0aa311.9d11a8","order":3,"width":0,"height":0,"options":[{"label":"Datetime","value":"datetime","type":"text","required":true}],"formValue":{"datetime":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":880,"y":1480,"wires":[["8e04e98c.3e36c"]]},{"id":"258f295a.a8ce66","type":"ui_gauge","z":"f91edd55.bee28","name":"","group":"132e11cd.d1ca56","order":5,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":820,"wires":[]},{"id":"cd3ede2.27ede2","type":"ui_template","z":"f91edd55.bee28","group":"132e11cd.d1ca56","name":"","order":6,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\nvar clockInterval;\n $(function () {\n   var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'http://192.168.1.129:1880/index.jpeg'\n        logo.height = 65;\n        div1[0].style.margin = '10px';\n\n        div1.append(logo);\n      \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n           \n            clearInterval(addToToolbarTimer);\n             \n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n  });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1400,"y":960,"wires":[[]]},{"id":"e6276de7.517238","type":"debug","z":"f91edd55.bee28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":820,"wires":[]},{"id":"566fec6b.af1a7c","type":"debug","z":"f91edd55.bee28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1910,"y":440,"wires":[]},{"id":"132e11cd.d1ca56","type":"ui_group","z":"","name":"BMS & Motor","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"33be24a4.d94bd4","type":"ui_group","z":"","name":"ILockit","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"38bdf165.b210e6","type":"ui_group","z":"","name":"Heart Rate & MPU","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"528d135a.1fba44","type":"ui_group","z":"","name":"Location","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"ff0aa311.9d11a8","type":"ui_group","z":"","name":"Lora Info & control","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"8c17b307.2f44c8","type":"ui_group","z":"","name":"Log Bluetooth processes","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"7efb753.473030c","type":"ui_group","z":"","name":"System's Task","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"646fc13c.26e5e","type":"ui_group","z":"","name":"Network Configuration","tab":"74d9da79.fdbb04","disp":true,"width":"7","collapse":false},{"id":"74d9da79.fdbb04","type":"ui_tab","z":"","name":"Boréal Bikes ","icon":"http://192.168.1.119:1880/index.jpeg","disabled":false,"hidden":false}]
